body{
	/*background-color: rgb(24,50,71);*/
  background: url(pic2.jpg)no-repeat center center fixed;
  background-size: cover;
	font-family: Karla;
  color: white;
}

.colorcatch{
	background-image: : rgb(175,232,208);
}

.topnav {

  background-color: white;
  overflow: hidden;
  font-family: 'Karla';
}



/* Style the links inside the navigation bar */
.topnav a {

  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media only screen and (max-width: 600px) {
  .topnav a{
    font-size: 0.9em;
    padding: 14px 10px;
  }
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: none;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: none;
  color: white;


}

.socialIcons img {
  height: 50px;
  width: 50px;
  opacity: 0.4;
  filter: alpha(opacity=40);



}